<nav class="navbar">
  <h2 class="navbar__title">Frontend Challenge</h2>
  <div>
    <a class="navbar__link" [routerLink]="['/']">Home</a>
    <a class="navbar__link" [routerLink]="['/new']">Create a new word</a>
  </div>
</nav>

<router-outlet></router-outlet>
